<main class="results container">

  <div class="row justify-content-center">

    <div class="col-md-6 align-self-center cont">
      <img src="images/logojirafa.jpg" alt="">
      <h1>Estadísticas de resolución</h1>
      <p>Kata: {{kataName}}</p>
      <p>Resuelven {{statistics.passOk}} de {{statistics.students}} alumnos. {{statistics.percentage}}%</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">¿Corrige?</th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
          <tr>
            <td>{{this.name}}</td>
            <td>
              {{#if this.pass}}
              <div class="res pass">
                ✓
              </div>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>

  </div>
</main>